.container {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 1200px;
  margin: 10px auto;
  margin-top: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Search Container Styles */
.searchContainer {
  position: relative;
  margin-bottom: 20px;
}

.searchBar {
  width: 100%;
  padding: 10px 40px 10px 10px; /* Add padding for icon */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

.searchIcon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #888;
  cursor: pointer;
}

/* Table Styles */

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #e9e9e9;
}

.pagination {
  width: 100%;
  justify-content: center;
  display: flex;
  gap: 2%;
  text-decoration: none;
  list-style: none;
  margin: auto;
  cursor: pointer;
}
.paginationBttns {
  width: 50px;
  border: 1px solid #0c1cf2;
  background-color: #42c2ff;
}
/* .btn {
  display: flex;
  gap: 0.3%;
} */

.pagination .selected {
  width: 20px;
  display: flex;
  height: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #0c1cf2;
}
.pagination li {
  width: 20px;
  display: flex;
  height: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #0c1cf2;
  color: white;
  border: 1px solid #0c1cf2;
}

/* Delete Selected  */
.deleteSelectedButton {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.deleteSelectedButton:hover {
  background-color: #c82333;
}
.footer {
  width: 100%;
  margin-bottom: 30px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
.icon {
  border: none;
  color: #c82333;
  background-color: none;
}
.icon:hover {
  scale: 1.2;
}
